.responsive {
    width: 100%;
    max-width: 800px;
    height: auto;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.btn-cstm{
  margin-right: 1rem;
}