<section class="start-section">
  <div class="split-screen">
    <div class="split-screen-half">
      <div class="centering">
        <p class="child w-50 vertical">
          Welcome to RAWG! Here, you will find all the information you need to
          stay up-to-date on the latest and greatest games.
        </p>
      </div>
    </div>
    <div class="split-screen-half">
      <div><img class="img-cstm" src="../../assets/homepage.png" /></div>
    </div>
  </div>
</section>
<section class="middle-section bg-dark">
  <div class="split-screen bg-dark">
    <div class="split-screen-half bg-dark">
      <div class="centering">
        <div>
          <img
            class="w-75 p-5 omen"
            style="margin-left: 100px"
            src="../../assets/omen.png"
          />
        </div>
      </div>
    </div>
    <div class="split-screen-half">
      <div class="centering">
        <p class="child w-75 p-5" style="margin-right: 100px">
          Our team of gaming experts has compiled a vast library of information
          on the latest and greatest games, covering all platforms from PC to
          console to mobile. Whether you're looking for in-depth guides and
          reviews or just want to stay up-to-date on the latest releases, we
          have something for you.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="end-section">
  <div class="split-screen-half split-screen py-5">
    <div class="centering">
      <p class="child w-75 p-5" style="margin-right: 100px">
        We believe that gaming is for everyone, so we strive to make our website
        inclusive and accessible to players of all levels and abilities. Whether
        you're a competitive player or just looking for a fun way to pass the
        time, we have something for you!
      </p>
    </div>
    <div class="centering">
      <p class="w-75">
        Gaming can be a powerful tool for bringing people together
        and fostering meaningful connections. That's why we are dedicated to
        promoting a positive and inclusive gaming culture on our website and
        throughout the gaming community.
      </p>
    </div>
  </div>
</section>
